body{
    
    width: 1005px;
    height: 600px;
    margin: 0px;
    background-color:rgb(152, 206, 253);
}

.book-view{
    background-color:rgb(152, 206, 253);
    width: 518px;
    height: 600px;
    position: absolute;

}

.book-image img{
 position: absolute;
 width:180px;
 height:242px;
 top: 0px;
 left: 0px;   
}

.book-image{
    background-color: white;
    width:180px;
    height:242px;
    position: absolute;
    left: 50px;
    top: 43px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.book-data{
    display: flex;
    align-items: center;
}

.book-data ul li p{
    margin: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.book-data ul li{
    position: absolute;
    width: 231px;
    height: 30px;

    list-style-type: none;

background: #FFFFFF;
}

#book-name{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    left: 259px;
    top: 43px;
}

#book-author{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    left: 259px;
     top: 96px;
}

#book-editor{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    left: 259px;
    top: 149px;
}

#book-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    left: 259px;
    top: 202px;

}

#book-long{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    left: 259px;
    top: 255px;
}

#btn-devolver{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    top: 500px;
    left: 250px;
    width: 200px;
    height: 50px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    color: black;
    background-color: wheat;
}

#btn-devolver a{
    color: black;
    text-decoration: none;
}

#btn-cancel{
    color: white;
    background: linear-gradient(180deg, #940DAA 0%, #E545FF 100%);
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;

    width: 60px;
    height: 40px;
    left: 440px;
    top: 425px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

#btn-limp{
    color: black;
    background-color: wheat;
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;

    width: 90px;
    height: 40px;
    left: 370px;
    top: 425px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-voltar{
    position: absolute;
    top: 500px;
    left: 20px;
    width: 200px;
    height: 50px;
    border: none;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    color: black;
    background-color: wheat;
}

#btn-voltar a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
     sans-serif;
     font-style: normal;
     font-size: 18px;
     color: black;
     text-decoration: none;
     font-weight: bold;
}

#text-bar-code{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
     sans-serif;
     font-style: normal;
     font-size: 18px;
     color: rgb(0, 0, 0);
     text-decoration: none;
     font-weight: bolder;

     top:381px ;
     left:40px ;

     width: 302px;
     height: 28px;
}

#bar-code-view{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 324px;
    height: 40px;
    left: 37px;
    top: 396px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.keyboard{
    width: 475px;
    height: 248px;
    position: relative;
    top: 320px;
    left: 490px;
    background-color:whitesmoke;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

.keyboard button{
     

    color: black;
    background-color: wheat;

}

#btn-0{
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: relative;
    width: 212px;
    height: 60px;
    left: 92px;
    top: 157px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

#btn-1{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 22px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-2{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top:20px ;
    left: 98px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-3{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 174px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-4{

    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 20px;
    left: 250px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-5{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 94px;
    left: 22px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

#btn-6{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 94px;
    left: 98px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-7{
   
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 94px;
    left: 174px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-8{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 94px;
    left: 250px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#btn-9{
    
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 60px;
    height: 60px;
    top: 168px;
    left: 22px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-bksp{
   
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 120px;
    height:60px;
    top: 20px;
    left: 326px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#btn-enter{
   
    text-align: center;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: none;

    position: absolute;
    width: 120px;
    height: 134px;
    left:326px;
    top: 94px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}



.location{
    position: absolute;
    width: 506px;
    height: 300px;
    left: 518px;
    top: 0px;

    background-color:rgb(152, 206, 253);
}
.location-frame{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    position: absolute;
    width: 406px;
    height: 242px;
    left: 40px;
    top: 43px;

background-color: #FFFFFF;
}

#location-row{
    position: absolute;
    width: 87px;
    height: 28px;
    left: 30px;
    top:35px;

    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.color-row{
    position: absolute;
width: 106px;
height: 106px;
left: 26px;
top: 90px;

background: rgb(183, 0, 255); 

    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

#location-line{
    position: absolute;
    width: 108px; 
    height: 28px;
    left: 170px;
    top: 35px;

    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.leter-line{
    position: absolute;
    width: 123px;
    height: 48px;
    left: 275px;
    top: 40px;

background: #F1F1F1;

border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#location-numb{
    position: absolute;
    width: 110px;
    height: 15px;
    left: 175px;
    top: 125px; 

    color: black;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 18px;

}

.numb-loc{
    position: absolute;
    width: 123px;
    height: 48px;
    left: 275px;
    top: 130px;

background: #F1F1F1;

border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

#bar-code-view{
    color: black;
    text-align: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#leter{
    margin-top: 1%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#number{
    margin-top: 1%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}